.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #5f0f40; /* Color principal */
  }
  
  .form-label {
    font-weight: bold;
    color: #5f0f40; /* Color principal */
  }
  
  .form-control {
    margin-bottom: 15px;
  }
  
  .btn-primary {
    width: 100%;
    background-color: #fb8b24; /* Color secundario */
    border-color: #fb8b24; /* Color secundario */
  }
  
  .btn-secondary {
    width: 100%;
    margin-top: 10px;
    background-color: #e36414; /* Color terciario */
    border-color: #e36414; /* Color terciario */
  }
  
  .btn-primary:hover,
  .btn-secondary:hover {
    background-color: #9a031e; /* Color de realce */
    border-color: #9a031e; /* Color de realce */
  }
  
  .text-danger {
    color: #9a031e; /* Color de error */
  }
  